<template>
    <div>
        <h3>宏任务和微任务</h3>
        <p>结论：微任务 执行时机比 宏任务 早</p>
        <p>宏任务：setTimeout, setInterval, DOM事件， AJAX请求 DOM渲染</p>
        <p>微任务： Promise, async/await</p>
        <p>微任务 > DOM渲染 > 红任务</p>
        <h3>题目：</h3>
        <p>
            console.log(1);<br/>
            setTimeout(()=> {
                console.log(2);
            }, 0)<br/>
            Promise.resolve().then(() => {
                console.log(3);
            })<br/>
            console.log(4)<br/>
            // 答案： 1，4，3，2
        </p>
    </div>
</template>