<template>
  <div class="conten">
    <div class="header">
      <p>小林个人博客</p>
      <router-link to="/video">1、视频</router-link>
      <router-link to="/echarts"
        >2、体系课-数据可视化入门到精通-打造前端差异化竞争力</router-link
      >
      <router-link to="/eventLoop"
        >3、宏任务和微任务</router-link
      >
      <router-link to="/nextTick"
        >4、NextTick:nextTick()是将回调函数延迟在下一次dom更新数据后调用，即当数据更新了在DOM中渲染后自动执行该函数。</router-link
      >
    </div>
  </div>
</template>
<style scoped lang="scss">
.conten {
  width: 1000px;
  height: auto;
  border: 1px #1989fa solid;
  margin: 0 auto;
  a {
    display: flex;
    text-decoration: none;
  }
}
</style>
