<template>
  <div class="login_container">
    <div class="login_box">
      <div class="avatar_box">
        <!-- <img src="../assets/logo.png" alt="logo" /> -->
        <p>人类失去联想,世界将会怎样?，不怕还有华为</p>
      </div>
      <el-form
        ref="loginFormRef"
        :model="loginForm"
        :rules="loginFormRules"
        label-width="0px"
        class="login_form"
      >
        <el-form-item prop="username">
          <el-input v-model="loginForm.username" prefix-icon="el-icon-user"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            type="password"
            v-model="loginForm.password"
            prefix-icon="el-icon-goods"
          ></el-input>
        </el-form-item>
        <el-form-item class="btns">
          <el-button type="primary" @click="login">提交</el-button>
          <el-button type="info" @click="resetLoginForm">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { loginApi } from "../api/login.js";
export default {
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
      },
      loginFormRules: {
        username: [
          { required: true, message: "请输入登录名称", trigger: "blur" },
          // { min: 3, max: 10, message: '长度在 3 到 10 个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, message: "请输入登录密码", trigger: "blur" },
          { min: 6, max: 15, message: "长度在 6 到 15 个字符", trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    resetLoginForm() {
      this.$refs.loginFormRef.resetFields();
    },
    login() {
      this.$refs.loginFormRef.validate(async (valid) => {
        if (!valid) return;
        const params = {
          username: this.loginForm.username,
          password: this.loginForm.password,
        };

        try {
          const {
            data: { code, data },
          } = await loginApi(params);
          if (code === 200) {
            this.$message({
              message: data.userList.msg,
              type: "success",
            });
            window.sessionStorage.setItem("token", data.userList.token);
            this.$router.push("/home");
          } else {
            this.$message({
              message: "用户名或者密码错误",
              type: "error",
            });
          }
        } catch (err) {
          this.$message({
            message: "用户名或者密码错误",
            type: "error",
          });
        }
      });
    },
  },
};
</script>
<style scoped lang="scss">
.login_container {
  background-color: #2b4b6b;
  height: 100%;
  .login_box {
    width: 450px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .avatar_box {
      height: 130px;
      width: 130px;
      border: 1px solid #eee;
      border-radius: 50%;
      padding: 20px;
      box-shadow: 0 0 10px #ddd;
      position: absolute;
      left: 50%;
      color: #409eff;
      text-align: center;
      transform: translate(-50%, -50%);
      p {
        transition: all 1.5s ease;
      }
      &:hover {
        color: #fff;
        animation: Glow 1.5s ease infinite alternate;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #eee;
      }
    }
  }
}
.login_form {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.btns {
  display: flex;
  justify-content: flex-end;
}
@keyframes Glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00a67c,
      0 0 70px #00a67c, 0 0 80px #00a67c, 0 0 100px #00a67c, 0 0 150px #00a67c;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00a67c,
      0 0 35px #00a67c, 0 0 40px #00a67c, 0 0 50px #00a67c, 0 0 75px #00a67c;
  }
}
</style>
