<template>
    <div class="next-tick">
        <ul ref="ulRef">
            <li v-for="(item, index) in items" :key="index">{{item}}</li>
        </ul>
        <button @click="add">添加</button>
    </div>
</template>
<script>
export default {
    data() {
        return {
            items: ['吃饭','睡觉', '打豆豆']
        }
    },
    methods: {
        add() {
            // this.items[1] = "小林"
            this.items.push(Math.random())
            this.items.push(Math.random())
            this.items.push(Math.random())
            // this.$nextTick(() => {
            //     // nextTick dom异步渲染完成之后完成
            //     // 获取子元素个数
            //     const ulElem = this.$refs.ulRef;
            //     const length = ulElem.childNodes.length;
            //     console.log(length, 'length')
            // })
            console.log(this.items)
            // 获取子元素个数
            const ulElem = this.$refs.ulRef;
            const length = ulElem.childNodes.length;
            console.log(length, 'length')
        }
    }
}
</script>