<template>
    <div class="box" ref="container">
        <p>{{ name }}</p>
        <button @click="this.handleClick">点击事件</button>
    </div>
</template>

<script>
export default {
    name: 'Text',
    data() {
       return {
            name: '小林'
       }
    },
    beforeCreate(){
        console.log(`beforeCreate----`)
        console.log(`this.name`, this.name)
        console.log(`this.handleClick`, this.handleClick)
        console.log(`container`, this.$refs)
    },
    created() {
        console.log(`created----`)
        console.log(`this.name`, this.name)
        console.log(`this.handleClick`, this.handleClick)
        console.log(`container`, this.$refs)
    },
    beforeMount() {
        console.log(`beforeMount----`)
        console.log(`this.name`, this.name)
        console.log(`this.handleClick`, this.handleClick)
        console.log(`container`, this.$refs)
    },
    mounted() {
       console.log(`mounted----`)
       console.log(`this.name`, this.name)
       console.log(`this.handleClick`, this.handleClick) 
       console.log(`container`, this.$refs)
    },
    beforeUpdate() {
       console.log(`beforeUpdate----`)
       console.log(`this.name`, this.name)
       console.log(`this.handleClick`, this.handleClick)  
    },
    updated() {
       console.log(`updated----`)
       console.log(`this.name`, this.name)
       console.log(`this.handleClick`, this.handleClick)  
    },
    methods: {
        handleClick() {
            console.log(`this.name`, this.name)
            this.name = "小三"
        }
    }
}
</script>