<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="6">
        <video src="../assets/video/1640182256313135.mp4" controls="controls">
          your browser does not support the video tag
        </video>
      </el-col>
      <el-col :span="6">
        <video src="../assets/video/girl_01.mp4" controls="controls">
          your browser does not support the video tag
        </video>
      </el-col>
      <el-col :span="6"
        ><video src="../assets/video/girl_02.mp4" controls="controls">
          your browser does not support the video tag
        </video></el-col
      >
      <el-col :span="6"
        ><video src="../assets/video/girl_03.mp4" controls="controls">
          your browser does not support the video tag
        </video></el-col
      >
    </el-row>
    <el-row :gutter="20">
      <el-col :span="6"
        ><video src="../assets/video/girl_04.mp4" controls="controls">
          your browser does not support the video tag
        </video>
      </el-col>
      <el-col :span="6"
        ><video src="../assets/video/girl_05.mp4" controls="controls">
          your browser does not support the video tag
        </video>
      </el-col>
      <el-col :span="6"
        ><video src="../assets/video/girl_06.mp4" controls="controls">
          your browser does not support the video tag
        </video>
      </el-col>
      <el-col :span="6"
        ><video src="../assets/video/girl_07.mp4" controls="controls">
          your browser does not support the video tag
        </video>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
    name: 'Text',
    data() {
       return {
            name: '小林'
       }
    },
    created() {
     this.handleClick()
    },
    methods: {
        handleClick() {
            setInterval(() => {
              console.log('55555')
            }, 3000)
        }
    }
}
</script>
<style scoped lang="scss">
body {
  margin: 0;
  padding: 0;
}
.el-row {
  background: #000;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  video {
    width: 100%;
    max-height: 245px;
  }
}
</style>
