<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if和v-show.html</title>
</head>
<body>
   <div id="app">
        <!-- v-if: 不满足条件，不会渲染dom => 单次判断-->
        <button v-if="val == 1">按钮一</button>
        <button v-if="val == 2">按钮二</button>
        <!-- v-show: 隐藏dom => 多次切换 不能用于权限操作-->
        <button v-show="type">type为true显示</button>
        <button @click="changeType()">点击</button>
   </div>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            // 闭包:每一个组件都有自己的私有作用域，确保各组件数据不会相互干扰
            // 纯对象: 干扰let obj = {}
            data() {
                return {
                    val: 2,
                    type: false
                }
            },
            methods: {
                changeType() {
                  this.type = !this.type
                }
            },
        })
    </script>
</body>
</html>