<template>
   <el-container class="home-container">
        <el-container>
            <el-aside width="200px">
                 <el-menu
                    :default-active="$route.path"
                    class="el-menu-vertical-demo"
                    background-color="#304156"
                    text-color="rgb(191, 203, 217)"
                    active-text-color="#409eff"
                    router
                    unique-opened
                >
                    <template v-for="(item, index) in $router.options.routes">
                        <el-submenu :index="item.path">
                            <template slot="title">
                               {{item.meta && item.meta.menuName}}
                            </template>
                            <el-menu-item v-for="(itemChild, index) in item.children" :index="itemChild.path" :key="index">
                                <span>{{itemChild.meta && itemChild.meta.menuName}}</span>
                            </el-menu-item>
                        </el-submenu>
                    </template>
                </el-menu>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
</template>
<style lang="scss">
.home-container{
    height: 100%;
}

.el-aside{
    background-color: #304156;
    .el-menu {
        border-right: none;
    }
}

.el-main{
    background-color: #FFF;
}
</style>